*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

/*------Nav-Bar-------*/
.nav-logo h1{
    font-size: 40px;
    font-weight: bold;
    color: #5fcf80;

}
.buttn{
    border-radius: 20px;
    color: white;
    background: #5fcf80;
}

/*-----HERO SECTION-----*/

.hero-section{
    background-image: url(../img/hero-bg.jpg);
    background-position: center;
    background-size: cover;
}
.hero-row{
 height: auto;
}

.hero-bttn{
    width: 15%;
    padding: 10px 25px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    background: red;
}
.hero-heading{
    font-size: 40px;
    font-weight: bold;
    color: #ffff
    ;
}
.hero-para{
    color: #ffff;
    font-weight:100 ;
}

/*-----Volunteer------*/

.icon-row{
    display: flex;
}
.icon-col{
     font-size: 20px;
    color: #5fcf80;
}
.img-col{
 height: 70vh;
}

/*------------Counting-Section--------*/

.counting-section{
    background:#f6f7f6 ;
}
.counting-row{
    display: flex;
    justify-content: center;
    text-align: center;


}
.counting-row h3{
    color: #5fcf80;
    font-size: 40px;
    font-weight: bold;
}


/*-------Cards-section-------*/
.mentor-b0x{
    background-color: #5fcf80;
    color: #ffff;
}
.mentor-bttn{
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #7fd999;
    border: none;
    color: white;
}
.cards-icon{
    text-align: center;
    border: 1px solid red;
    justify-content: center;
}

.icon-bg{
    color: #5fcf80;
    border: 1px solid orange;
    padding: 20px 40px;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 50px;
    font-size: 40px;
}