
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/*------Nav-Bar-------*/
.main-nav{
    position: sticky;
    top: 0;
}
.nav-logo h1{
    font-size: 40px;
    font-weight: bold;
    color: #5fcf80;

}
.buttn{
    border-radius: 20px;
    color: white;
    background: #5fcf80;
}

.nav-item a:hover{
   color: #5fcf80;!important

}

/*-----HERO SECTION-----*/

.hero-section{
    background-image: url(../img/hero-bg.jpg);
    background-position: center;
    background-size: cover;
}
.hero-row{
 height: auto;
}

.hero-bttn{
    width: 15%;
    padding: 10px 25px;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    background-color: transparent;
}
.hero-heading{
    font-size: 40px;
    font-weight: bold;
    color: #ffff
    ;
}
.hero-para{
    color: #ffff;
    font-weight:100 ;
}

/*-----Volunteer------*/

.icon-row{
    display: flex;
}
.icon-col{
     font-size: 20px;
    color: #5fcf80;
}
.img-col{
 height: 70vh;
}

/*------------Counting-Section--------*/

.counting-section{
    background:#f6f7f6 ;
}
.counting-row{
    display: flex;
    justify-content: center;
    text-align: center;


}
.counting-row h3{
    color: #5fcf80;
    font-size: 40px;
    font-weight: bold;
}


/*-------Cards-section-------*/
.mentor-b0x{
    background-color: #5fcf80;
    color: #ffff;
}
.mentor-bttn{
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #7fd999;
    border: none;
    color: white;
}

.mentor-heading{
    font-size: 40px;
}

.cards-column{
    display: flex;
    justify-content: space-between;
    
}
.cards-icon{
    text-align: center;
    border: 1px solid #eef0ef;
    justify-content: center;
}
.icons-w{
    padding: 20px 20px;
    background-color: #ecf9f0;
    border-radius: 50%;
    color: #5fcf80;
    font-size: 30px;
}

/*------popular Courses-----*/
.bttn-rate{
    display: flex;
    justify-content: space-between;
}

.web-bttn{
    padding: 8px 15px;
    background: #5fcf80;
    border: none;
    color: white;
}

.reactions{
    padding-right: 6px;
}

.social-icons{
    color:#7e9486 ;
}
.card-text{
    color: #aaaaaa;
}

.img-border{
    border-radius: 50%;
}
.user-name{
    display: flex;
    align-items: center;
}
.user-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}